<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guardiãs das Águas</title>

  <script src="https://cdn.userway.org/widget.js" data-account="WkxSCXRUll"></script>

  <link rel="stylesheet" href="/src/main/resources/static/css/css padrão.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/MG.css">
  
</head>

<body>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

  <header>
    <img style="margin-top: -15px;" src="/src/main/resources/static/img/logo.png" alt="Logo das Guardiãs das Águas">
    <h2>Guardiãs das Águas</h2>

    <nav>
      <ul>
        <li><a href="pagina1.html">Início</a></li>
        <li><a href="noticias.html">Notícias</a></li>
        <li><a href="Projeto.html">Projetos</a></li>
        <li><a href="Evento.html">Eventos</a></li>
        <li>
          <details>
            <summary id="Nucleos">Nossos Núcleos</summary>
            <a style="margin: -10px; padding: 5px 5px 5px;" href="MG.html" >MG</a> - <a style="margin: -10px;padding: 5px 5px 5px;" href=""></a> - <a style="margin: -10px;padding: 5px 5px 5px;" href="CE.html">CE</a>
          </details>
        </li>
        <li><a href="contatos.html">Contato</a></li>
      </ul>
    </nav>
  </header>

    <h1 style="text-align: center;">Bem-vindo ao núcleo MG</h1>

    <main>
      <h3 style="font-size: 30px;">Nossos Eventos</h3>
      
      <section style="margin-top: 10px;">
        <h3>Evento da Àgua</h3>
        <p>No Dia Mundial da Água, em 22 de março de 2025, as Guardiãs das Águas participaram de uma atividade especial no Parque do Sabiá, em Uberlândia. A ação teve como objetivo promover o diálogo com a população sobre a importância dos rios, córregos e demais recursos hídricos da cidade. Foi um momento marcante de troca de saberes, escuta activa e conscientização.</p>
        <img width="30%" height="930px" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-04-02 at 10.00.09.jpeg" alt="Evento_Àgua">
        <img width="30%" height="930px" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-04-02 at 10.00.00 (1).jpeg" alt="Evento_Àgua" style="margin-left: 10px;margin-right: 10px;">
        <img width="30%" height="930px" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-06-25 at 13.52.18 (2).jpeg" alt="Evento_Àgua">
        <p>
          Durante a atividade, as Guardiãs realizaram abordagens com visitantes do parque, ouvindo histórias, memórias afetivas e preocupações em relação à poluição e ao cuidado com a água. A receptividade das pessoas demonstrou o quanto a população se interessa por esses temas, mesmo que, muitas vezes, não tenha acesso ao conhecimento técnico ou científico por trás das questões ambientais.
        </p>
        <img width="30%" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-06-26 at 14.59.35.jpeg" alt="Evento_Àgua">
        <img width="30%" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-04-02 at 10.00.10.jpeg" alt="Evento_Àgua">
        <img width="30%" src="/src/main/resources/static/img/Protagomismo feminino.png" alt="Mulher_Rosa">
        <p>Essa vivência nos fez perceber um aspecte importante da formação: compreender que levar informação para a comunidade também envolve ouvir e reconhecer o conhecimento popular. Muitas das problemáticas ambientais são percebidas como parte da rotina e acabam sendo naturalizadas.</p>
      </section>

      <section>
        <h3>Evento Mostra Extencionista da biologia</h3>
        <p>No dia 26 de abril de 2025, as Guardiãs das Águas participaram da Mostra Extensionista da Biologia, realizada no Parque Gávea, em Uberlândia. A ação teve como proposta ampliar o diálogo com a comunidade sobre a importância do cuidado com a água e o meio ambiente.</p>
        <img width="30%" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-06-30 at 14.27.33.jpeg" alt="Evento_Extencionista">
        <img width="38.5%" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-06-30 at 14.27.33 (6).jpeg" alt="Evento_Extencionista">
        <img width="30%" src="/src/main/resources/static/Núcleo - Uberlândia-MG/Evento - Dia da água (22-03) - OK/WhatsApp Image 2025-06-30 at 14.27.33 (3).jpeg" alt="Evento_Extencionista">
        <p>Durante o evento, realizamos diversas pesquisas com os visitantes, ouvimos histórias e relatos pessoais que revelaram a relação afetiva das pessoas com os recursos hídricos da cidade. Exibimos também um vídeo sobre o nosso projeto, que chamou a atenção do público pela abordagem sensível e informativa sobre as ações desenvolvidas.<br>Além disso, montamos uma mesa expositiva com amostras coletadas durante nossas aulas, possibilitando que os visitantes conhecessem de perto o trabalho realizado por nós, Guardiãs, no monitoramento da qualidade da água. O espaço foi um convite à curiosidade, à troca de saberes e ao despertar da consciência ambiental.</p>
      </section>
    </main>
     <footer>
    <p>© 2025 Guardiãs das Águas. Todos os direitos reservados.</p>

    <div class="redes-sociais">
      <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
        <img src="/src/main/resources/static/IMG/youtube.png" alt="YouTube">
      </a>

      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="/src/main/resources/static/IMG/insta.png" alt="Instagram">
      </a>
    </div>

    <p>
      Autor da imagem: Ricardo Stuckert/PR<br>
      Fonte da notícia:
      <a style="color: white;" href="https://brasil.un.org/pt-br/301371-cop30-no-brasil" target="_blank" rel="noopener noreferrer">
        Brasil ONU
      </a>
    </p>
  </footer>
  <section class="colaboradores-section">
    <h4 class="titulo-centralizado">COLABORADORES</h4>
    <div class="colaboradores">
      <img src="/src/main/resources/static/IMG/Link do site PLEASE (1).png" alt="Nossos colaboradores">
    </div>
  </section>
</body>
</html>