<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saneamento em Alagoas - Guardiãs das Águas</title>

  <script src="https://cdn.userway.org/widget.js" data-account="WkxSCXRUll"></script>

  <link rel="stylesheet" href="/src/main/resources/static/css/css padrão.css">
  <link rel="stylesheet" href="/src/main/resources/static/css/ambiental.css">
</head>

<body>
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>

  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>

  <header>
    <img style="margin-top: -15px;" src="/src/main/resources/static/img/logo.png" alt="Logo Guardiãs das Águas">
    <h2>Guardiãs das Águas</h2>

    <nav> 
      <ul> 
        <li><a href="pagina1.html">Início</a></li> 
        <li><a href="noticias.html">Notícias</a></li> 
        <li><a href="Projeto.html">Projetos</a></li> 
        <li><a href="Evento.html">Eventos</a></li> 
        <li> 
          <details> 
            <summary id="Nucleos">Nossos Núcleos</summary> 
            <a style="margin: -10px; padding: 5px 5px 5px;" href="MG.html">MG</a> - <a style="margin: -10px;padding: 5px 5px 5px;" href=""></a> - <a style="margin: -10px;padding: 5px 5px 5px;" href="CE.html">CE</a> 
          </details> 
        </li> 
        <li><a href="contatos.html">Contato</a></li> 
      </ul>
    </nav> 
  </header>
     
  <main class="conteudo">
    <h1>Contatos Úteis</h1>
    <ul>
      <li><strong>Ibama:</strong> 0800 061 8080 (Para denúncias de desmatamento, incêndio florestal, maus-tratos ou venda ilegal de animais e outros danos ambientais não emergências).</li><br>
      <li><strong>Polícia Ambiental da PMMG:</strong> 190 (Para emergências e atividades que põem em risco fauna e flora).</li><br>
      <li><strong>Corpo de Bombeiros:</strong> 193 (Em caso de incêndios ou outras emergências ambientais). </li><br>
      <li><strong>Ligue fácil Dmae:</strong> 115 / (34) 3257-6900 ou site DMAE Prefeitura (Para problemas com água ou esgoto em Uberlândia).</li><br>
      <li><strong>Agência Nacional de Águas e Saneamento Básico (ANA):</strong> https://www.gov.br/ana/pt-br (Responsável pela regulação e fiscalização dos recursos hídricos e saneamento básico no Brasil. A ANA também coordena a gestão de bacias hidrográficas e ações para a preservação de recursos hídricos no país). </li><br>
      <li><strong>Companhia de Saneamento de Minas Gerais (COPASA):</strong> https://www.copasa.com.br/wps/portal/internet/ (Responsável pela prestação de serviços de abastecimento de água e esgoto no estado de Minas Gerais. A COPASA atende solicitações de manutenção e informações sobre a rede de água e esgoto na região). </li><br>
    </ul>
  </main>

  <footer>
    <p>© 2025 Guardiãs das Águas. Todos os direitos reservados.</p>

    <div class="redes-sociais">
      <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
        <img src="/src/main/resources/static/img/youtube.png" alt="YouTube">
      </a>

      <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
        <img src="/src/main/resources/static/img/insta.png" alt="Instagram">
      </a>
    </div>
  </footer>

  <section class="colaboradores-section">
    <h4 class="titulo-centralizado">COLABORADORES</h4>
    <div class="colaboradores">
      <img src="/src/main/resources/static/img/Link do site PLEASE (1).png" alt="Nossos colaboradores">
    </div>
  </section>
</body>

</html>