<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/Vform.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Seja um Voluntário!</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Nome Completo" id="username" required>

        <label for="e-mail">E-mail</label>
        <input type="text" placeholder="Email" id="E-mail" required>

        <label for="link">seu link da rede social</label>
        <input type="text" placeholder="link de alguma rede social sua" id="link" required>

        <button>Log In</button>
    </form>
</body>
</html>